---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import { getCurrentUser } from "../libs/directus-users";

const user = await getCurrentUser(Astro.cookies).catch(() => {});
---

<Layout title="About">
	<div class="container">
		<Header loggedInUserName={user?.name} />
		<main class="text-center">
		  <h1 class="display-1">
			About
		  </h1>
		</main>
	</div>
</Layout>
