---
import LayoutWithHeader from "../layouts/LayoutWithHeader.astro";
import { getCurrentUser } from "../libs/directus-users";

const user = await getCurrentUser(Astro.cookies).catch(() => {});
---

<LayoutWithHeader title="Features" loggedInUserName={user?.name}>
	<h1 class="display-1">Features</h1>
</Layout>
