---
import { PUBLIC_GOOGLE_CLIENT_ID, PUBLIC_REGISTER_URL } from "astro:env/client";
import Layout from "../layouts/Layout.astro";
import { httpPost, saveToken } from "../libs/directus-transport";

const errors = { email: "", password: "", submit: "" };
if (Astro.request.method === "POST") {
	try {
		const data = await Astro.request.formData();
		const email = data.get("email") as string;
		const password = data.get("password") as string;

		const res = await httpPost(
			"/auth/login",
			{ email, password, mode: "json" },
			{ noAuthorizationHeader: true, accessToken: null },
		);

		if (!res.error) {
			await saveToken(Astro.cookies, res.data);
			return Astro.redirect("/");
		}
		errors.submit += res.message;
	} catch (error) {
		errors.submit += error;
	}
}

const enableSignInWithGoogle = false;
---

<Layout title="Login Form">
  { enableSignInWithGoogle &&
    <script is:inline src="https://accounts.google.com/gsi/client" async></script>
  }
  { enableSignInWithGoogle &&
    <div id="g_id_onload"
      data-client_id={PUBLIC_GOOGLE_CLIENT_ID}
      data-login_uri="http://localhost:4321/login/google-auth-receiver"
      data-auto_prompt="false">
    </div>
  }
  <div class="d-flex justify-content-center align-items-center h-screen">
    <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px;">
      <h3 class="text-center mb-4">Login</h3>
      <form method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input required type="email" class="form-control" name="email" id="email" placeholder="Enter your email" autocomplete="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input required type="password" class="form-control" name="password" id="password" placeholder="Enter your password" autocomplete="current-password">
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Login</button>
          { enableSignInWithGoogle &&
            <div class="g_id_signin"
              data-type="standard"
              data-size="large"
              data-theme="outline"
              data-text="sign_in_with"
              data-shape="rectangular"
              data-logo_alignment="left">
            </div>
          }
          { errors.submit ?
            <div class="form-text text-danger">{errors.submit}</div>
          : <div class="form-text">Don't have an account?
              <a href={PUBLIC_REGISTER_URL}>Sign up now</a>
            </div> }
        </div>
      </form>
    </div>
  </div>
</Layout>
