---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import { getCurrentUser } from "../libs/directus-users";

const user = await getCurrentUser(Astro.cookies);
---

<Layout title="My Profile">
  <div class="container">
    <Header loggedInUserName={user?.name} />
    <main class="container text-center">
      <div class="row row-cols-1 text-start">
        <div class="col col-md-6 offset-md-3">
          <p><i class="bi bi-mailbox"></i> {user?.email}</p>
        </div>
        <div class="col col-md-6 offset-md-3">
          <p><i class="bi bi-people"></i> {user?.roleName}</p>
        </div>
      </div>
      <a class="btn btn-link" href="/logout" role="button">
        <i class="bi bi-escape"></i> Logout
      </a>
    </main>
  </div>
</Layout>
