---
import LayoutWithHeader from "../layouts/LayoutWithHeader.astro";
import { getCurrentUser } from "../libs/directus-users";

const user = await getCurrentUser(Astro.cookies);
---

<LayoutWithHeader title="My Profile" loggedInUserName={user?.name}>
  <main>
    <h1 class="mb-5">My Profile</h1>
    <p><i class="bi-mailbox"></i> {user?.email}</p>
    <p><i class="bi-people"></i> {user?.roleName}</p>
    <p>
      <a class="btn btn-link icon-link" href="/logout" role="button" data-bs-toggle="modal" data-bs-target="#confirmLogout">
        <i class="bi-escape"></i> Logout
      </a>
    </p>
  </main>

  <div class="modal fade" id="confirmLogout" tabindex="-1" aria-labelledby="confirmLogoutLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="confirmLogoutLabel">Confirm</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to logout?
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" href="/logout" role="button">Yes</a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</Layout>
