---
interface Props {
	loggedInUserName?: string;
}

const currentPath = Astro.url.pathname;

type Menu = {
	name: string;
	link: string;
	active?: boolean;
	icon?: string;
};

const menus: Menu[] = [
	{ name: "Home", link: "/" },
	{ name: "Features", link: "/features" },
	{ name: "About", link: "/about" },
	{ name: "Login", link: "/login" },
];

const { loggedInUserName } = Astro.props;
if (loggedInUserName) {
	menus[menus.length - 1] = {
		name: loggedInUserName,
		link: "/profile",
		icon: "bi-person-circle",
	};
}

for (const m of menus.slice().reverse()) {
	if (currentPath.startsWith(m.link)) {
		m.active = true;
		break;
	}
}
---

<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      {
        menus.map(n => (
          <li class="nav-item">
            <a href={n.link} class:list={['nav-link', {active: n.active}, {'text-black': n.active}]}>
				{n.icon && <i class={n.icon}></i>}
				{n.name}
			</a>
          </li>
        ))
      }
    </ul>
</header>
