---
import LayoutFlex from "../../layouts/LayoutFlex.astro";
---
<LayoutFlex title="Reset password success">
    <p class="hint">If you have an account, we've sent you a secure link to reset your password.</p>
</LayoutFlex>

<style>
    .hint {
        width: 100%;
        max-width: 400px;
        text-align: center;
    }
</style>
