---
import LayoutFlex from "../../layouts/LayoutFlex.astro";
---
<LayoutFlex title="Sign up success">
    <p>You just reset your password.</p>
    <p class="continue-login">Now you can continue <a href="/login">login</a> with your new password.</p>
</LayoutFlex>

<style>
    .continue-login {
        width: 100%;
        max-width: 400px;
        text-align: center;
    }
</style>
