---
import LayoutFlex from "../../layouts/LayoutFlex.astro";
---
<LayoutFlex title="Sign up success">
    <p>You just signed up.</p>
    <p class="check-email">Please check your email box for a registration message we just sent to you.</p>
</LayoutFlex>

<style>
    .check-email {
        width: 100%;
        max-width: 400px;
        text-align: center;
    }
</style>
